#cart{
    background-color: #f9f9f9;
    padding: 60px 0;
}
table.table {
    border: 1px solid #ddd;
}
.cart__bottom {
    padding: 45px 0 0 0;
}


/* action button */
.cart__action--btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}
.cart__action--btn .btn__primary.btn__brand{
    background-image: linear-gradient(30deg, #ff4c3b 60%, transparent 40%);
}
.cart__action--btn .btn__primary.btn__brand:hover {
    background-position: 140%;
    color: #ff4c3b;
}

/* =================== media query ======================== */
@media only screen and (max-width: 450px){
    .cart__action--btn .btn__primary.btn__brand{
        font-size: 12px; 
        padding: 6px 20px;
    }
}